
/* Shutter.css */

body {
  overflow-x: hidden;
}
:root {
  /* --bg-color: #050505; */
  --accent-blue: #46B0D5;
  --blade-gradient:linear-gradient(135deg,#2c2c2e 0%,#1a1a1c 50%,#000 100%);
}

.shutter-container {
  position: relative;
  width: 450px;
  height: 450px;
  background: radial-gradient(circle, #0f0f12 0%, #000 80%);
  border-radius: 50%;
  box-shadow: 
    0 0 0 8px #111,
    0 20px 50px rgba(0,0,0,0.9),
    0 0 40px rgba(70, 176, 213, 0.15);
}

.shutter-blade {
  position: absolute;
  inset: -2px;
  background: var(--blade-gradient);
  /* The "Aperture" geometry */
  clip-path: polygon(50% 50%, 100% 0%, 100% 65%, 65% 100%);
  transform-origin: 50% 50%;
  border: 0.5px solid rgba(70, 176, 213, 0.1);
  z-index: 100;
}

@media (min-width: 300px) {
  .shutter-container{
    width: 350px;
    height: 350px;

  }
  .hero-content{
    margin-top: 20px;
  }

}

/* Initial Blade Rotations */
.b1 { --r: 0deg; }
.b2 { --r: 60deg; }
.b3 { --r: 120deg; }
.b4 { --r: 180deg; }
.b5 { --r: 240deg; }
.b6 { --r: 300deg; }

.content-box-glow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  width: 3px;
  background: linear-gradient(to bottom, transparent, var(--accent-blue), transparent);
}



/* 1. Initial State: Hollow/Outline Text */
.shutter-fill-text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  display: inline-block;
}

/* 2. Hover State: Fill with the blue color */
/* Triggers when hovering over the hero-content area */
.group:hover .shutter-fill-text {
  color: #46B0D5;
  -webkit-text-stroke: 1px #46B0D5;
  text-shadow: 0 0 20px rgba(70, 176, 213, 0.4);
}
